<h1>Dashboard</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Products</h3>
  </div>
  <div class="panel-body">
   <p> <%= @products_count %></p>
   <%= link_to 'Admin Products', :admin_products , class: 'btn btn-sm btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Categories</h3>
  </div>
  <div class="panel-body">
  <p> <%= @categories_count %></p>
  </div>
</div>